@import url('https://fonts.googleapis.com/css?family=Cantata+One');

body {
    font-family: 'Cantata One', serif;
    font-size: 15px;
    max-width: 100%;
    background-image: url(/Content/Images/backgroung.jpg);
    background-size: 100%;
    background-repeat: repeat;
}

.menu-flex-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #f8adad;
    font-size: 20px;
    align-items: center;
    margin-top: -50px;
    padding: 0 0 0 50px;
    margin-bottom: 50px;
}
.menu-flex-items-container {
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
    .menu-flex-items-container ul li {
        text-decoration: none;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        margin-top:10px;
        float: left;
        list-style: none;
        padding: 15px 10px;
        transition: 0.3s;
        text-decoration:none;
    }
        .menu-flex-items-container ul li:hover {
            text-decoration: none;
            background-color: #a5a0a0;
        }
#hgroup {
    text-decoration: none;
}