@import url('https://fonts.googleapis.com/css?family=Cantata+One');

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cantata One', serif;
    font-size: 15px;
    max-width: 100%;
    background-image: url(/Content/Images/backgroung.jpg);
    background-size: 100%;
    background-repeat: repeat;
}

.menu-flex-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #0067b8;
    font-size: 20px;
    align-items: center;
    padding: 0 0 0 50px;
    margin-bottom: 50px;
}

.menu-flex-items-container {
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

    .menu-flex-items-container ul li {
        text-decoration: none;
        text-decoration-color: white;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        float: left;
        list-style: none;
        padding: 15px 10px;
        transition: 0.3s;
    }

        .menu-flex-items-container ul li:hover {
            text-decoration: none;
            background-color: #a5a0a0;
        }

#logo {
    text-decoration: none;
}

#forecast_city {
    display: block;
    align-content: center;
    text-align: center;
}

.forecast_wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

    .forecast_wrapper h3 {
        color: #0067b8;
    }

    .forecast_wrapper ul li {
        text-decoration: none;
        list-style: none;
        color: #4e4e4e;
    }
#wind::before {
    content: url('/Content/Images/Wind.png');
}
               
        .footer-flex-container {
            display: flex;
            padding-top: 50px;
            width: 100%;
            height: 150px;
            font-size: 12px;
        }

    .footer-flex-container #footer-info {
        text-decoration-color: #000000;
        position: relative;
        display: block;
        float: left;
        margin: 0;
        margin-left: 200px;
    }

    .footer-flex-container #footer-contact {
        text-decoration-color: #000000;
        position: relative;
        display: block;
        margin: 0 0 0 auto;
        margin-right: 200px;
    }
